<head>
    <link href="assets/dashboard.css" rel="stylesheet">
</head>

<body ng-conroller="dashboardCtrl">
    <h1 class="headingMain">Sürücü Takip Uygulaması</h1>

    <div class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a ng-click="home()">Anasayfa</a></li>
                        <li><a ng-click="adddriver()">Sürücü Ekle</a></li>
                        <li><a ng-click="totaldrivers()">Kayıtlı Sürücüler</a></li>
                        <li><a ng-click="notifications()">Bildirimler</a></li>
                        <li><a ng-click="exit()">Çıkış</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Cards -->
    <div class="container dashboard ">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-1">
                    <h3>Toplam Sürücü Sayısı</h3>
                    <p style="font-size: 40px;"></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-2">
                    <h3>SRC Belgeli Araç Sayısı</h3>
                    <p style="font-size: 40px;"></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-3">
                    <h3>Sözleşmeli Araç Sayısı</h3>
                    <p style="font-size: 40px;"></p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-4">
                    <h3>Şirket Aracı Sayısı</h3>
                    <p style="font-size: 40px;"></p>
                </div>
            </div>
        </div>
        <div class="row bottomBtn">
            <button class="addDBtn" ng-click="adddriver()">Sürücü Ekle</button>
            <button class="totalDBtn" ng-click="totaldrivers()">Sürücü Listesi</button>
        </div>
    </div>

    <script>
        const electron = require('electron');
        const {
            ipcRenderer
        } = electron;
    </script>

    <script src="/scripts/dashboard.js"></script>
</body>