<head>
    <link href="assets/dashboard.css" rel="stylesheet">
</head>

<body ng-conroller="totalDriversCtrl">
    <h1 class="headingMain">Tüm Sürücüler</h1>

    <div class="outer-menu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a ng-click="home()">Anasayfa</a></li>
                        <li><a ng-click="adddriver()">Sürücü Ekle</a></li>
                        <li><a ng-click="totaldrivers()">Kayıtlı Sürücüler</a></li>
                        <li><a ng-click="notifications()">Bildirimler</a></li>
                        <li><a ng-click="exit()">Çıkış</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 
    <h3>Toplam Sürücü Sayısı:</h3>
    <div>
        <p ng-model="Ldays.name">{{driverNumber}}</p>
    </div> -->

    <!-- <li ng-repeat="item in items" ng-click="accordion.current = item.name">
        {{item.name}}
        <ul ng-show="accordion.current == item.name">
            <li ng-repeat="sub in item.sub">{{sub.name}}</li>
        </ul>
    </li> -->
    <div class="container totalDrivers">
        <h2>Sürücü Listesi</h2>
        <h2>{{ numGen }}</h2>
        <div id="driver-list"></div>
        <!-- 
    <button class="accordion">Section 1</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
    </div>

    <button class="accordion">Section 3</button>
    <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
    </div> -->

    </div>


    <script src="/scripts/dashboard.js"></script>
</body>